# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.swp

# React / Node
node_modules/
dist/
build/
.DS_Store
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
