fastapi
uvicorn
gunicorn
pymongo
dnspython
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
certifi
sentence-transformers
PyMuPDF
python-docx
google-generativeai
numpy
scikit-learn
python-multipart
pydantic-settings
