fastapi
uvicorn
pymongo
dnspython
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
spacy==3.7.5
en_core_web_sm
nltk
scikit-learn
python-dotenv
pandas==2.2.2
numpy==1.26.4
PyPDF2
python-docx
# NOTE: spaCy model 'en_core_web_sm' is handled automatically during build
